* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.md text eol=lf

mvnw text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.jar binary

*.min.js linguist-generated=true
*.map linguist-generated=true
target/** linguist-generated=true